.portfolio {
	position: absolute;
	left: -25px;
	top: 100px;
	width: 120px;
	background: #0062AB;
	color: #111111;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20pt;
	font-family: AftaSans;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-align: right;
	cursor: pointer;
	border-radius: 25px;
	border-left: 25px solid transparent;
}

.bio {
	position: absolute;
	left: -25px;
	top: 175px;
	width: 120px;
	background: #62A800;
	color: #111111;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20pt;
	font-family: AftaSans;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-align: right;
	cursor: pointer;
	border-radius: 25px;
	border-left: 25px solid transparent;
}

.art {
	position: absolute;
	left: -25px;
	top: 250px;
	width: 120px;
	background: #A80062;
	color: #111111;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20pt;
	font-family: AftaSans;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-align: right;
	cursor: pointer;
	border-radius: 25px;
	border-left: 25px solid transparent;
}