@font-face {
    font-family: "gyre";
    src: url('./fonts/texgyreschola.eot') format('embedded-opentype'),
        url('./fonts/texgyreschola.woff') format('woff'),
        url('./fonts/texgyreschola.ttf') format('truetype'),
        url('./fonts/texgyreschola.svg') format('svg');
}

.self {
	position: relative;
	top: 65px;
}

.text {
    font-family: gyre;
}

.header {
    font-size: 40pt;
}

.lead {
    font-size: 22pt;
}

.blurb {
    font-size: 16pt;
}
