@font-face {
    font-family: gyre;
    src: url('../fonts/texgyreschola.woff');
}

body {
    padding-top: 93px;
}

.self {
	position: relative;
	top: 0px;
}

.text {
    font-family: gyre;
}

.btn-text {
    font-size: 12pt
}

.header {
    font-size: 40pt;
}

.lead {
    font-size: 22pt;
}

.blurb {
    font-size: 16pt;
}

.navbar-nav > li > a {
    font-size: 14pt !important;
}